@model ProyectoPrograAvanzadaG.Models.DashboardViewModel

@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Dashboard</h2>

<div class="dashboard-container">
    <div class="row">
        <div class="col-md-3">
            <div class="dashboard-panel">
                <h3>Usuarios Registrados</h3>
                <p>@Model.TotalUsuarios</p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="dashboard-panel">
                <h3>Productos en Inventario</h3>
                <p>@Model.TotalProductos</p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="dashboard-panel">
                <h3>Pedidos Recientes</h3>
                <p>@Model.TotalPedidosRecientes</p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="dashboard-panel">
                <h3>Reseñas Pendientes</h3>
                <p>@Model.TotalReseñasPendientes</p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="dashboard-panel">
                <h3>Ventas Recientes</h3>

            </div>
        </div>
    </div>
</div>
